.whatsappbutton {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 100px;
    padding: 18px 18px;
    background-color: rgb(92,20,52);
    transition: background-color 0.5s ease;
  }
  
  .whatsappbutton:hover {
    background-color: rgb(136, 30, 78);
  }
  
  .whatsapplogo {
    width: 45px;
    height: 45px;
  }
  