/* src/components/Navbar.module.css */
.navbar {
  background-color: rgb(255, 231, 169); /* Fondo en tonos suaves */
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras suaves */
  z-index: 1000;
  
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Ajuste de ancho para pantallas grandes */
  list-style: none;
  padding: 15px;
  margin: 0;
}

.navListLeft, .navListRight {
  display: flex;
  gap: 2rem; /* Espacio entre elementos */
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-size: 2rem;
}
/*  font-family: "Cookie", cursive;
  font-size: 2.5rem;
  font-style: normal;*/


.navListLeft {
  margin-left: 1rem;
}

.navListRight {
  margin-right: 1rem;
}

/* Estilo para los enlaces */
.navList a {
  text-decoration: none;
  color: rgb(92, 20, 52);
  transition: color 0.3s ease;
  border-width: 1px;
}

.navList a:hover {
  color: rgb(136, 30, 78); /* Color de hover */
}

/* Logo centrado */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
}

.logo img {
  border-radius: 50%; /* Imagen del logo redonda */
  border: 2px solid rgb(92, 20, 52); /* Borde alrededor del logo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombras en el logo */
  width: 120px;
  height: 120px;
  object-fit: cover;
}

/* Responsividad */
@media (max-width: 768px) {
  .navList {
    flex-direction: column;
    align-items: center;
  }

  .navListLeft, .navListRight {
    gap: 1rem;
    justify-content: center;
    margin: 0;
  }

  .logo {
    position: relative;
    transform: none;
    margin: 1rem 0;
  }

  .logo img {
    width: 100px;
    height: 100px;
  }

  .navbar {
    padding: 1rem;
  }
}

